modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build and Start"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development PORT=80 INTERNAL_PORT=3001 tsx watch src/server/server.ts"
waitForPort = 3001

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development PORT=3000 INTERNAL_PORT=5173 vite --config vite.config.ts"
waitForPort = 5173

[[workflows.workflow]]
name = "Build and Start"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build:client && npm run dev:server"
waitForPort = 3000

[deployment]
run = ["sh", "-c", "NODE_ENV=development PORT=80 INTERNAL_PORT=3001 tsx watch src/server/server.ts"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 5173
externalPort = 5000

[objectStorage]
defaultBucketID = "replit-objstore-abf868d0-76be-42b3-ba44-42573994d8a9"
